{% extends "news/base.html" %}
{% load static %}
{% block title %} Login sahifasi {% endblock title%}

{% block content %}

    <h2>Saytga kirish</h2>
    <p>Formani toldiring</p>
    <a href="{% url 'password_reset' %}" style="color: red;">Parolni tiklash</a>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <h4>Yangi profile yaratish <a href="{% url 'user_register' %}" style="color: red;">Ruyhatdan otish</a></h4>

{% endblock content %}


